body {
	/*background-color: #ffd;*/
	width: 100%;
	margin: 0;
	font-size: x-small;
}

/*
 * Note: fix for tab with float within - see: http://www.quirksmode.org/css/clearing.html.
 * Alternatively, without extra elements, see: http://stackoverflow.com/a/5871844.
 */
div.clear-floats {
	clear: both;
}

#content {
	margin: auto;
	width: 95%;
}

canvas#grid-canvas {
	width: 60%;
	height: 600px;
/*	max-width: 40%;
	max-height: 50%; */
	float: right;

	margin-top: 2em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

	border: solid black 1px;
}

div#information, div#control {
	width: 35%;
	margin-top: 2em;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
}

.info {
	margin-left: 1em;
	display: block;
}

.info#param-info {
	display: block;
	margin-top: 1em;
}

.ctl {
	border: 1px solid black;
	padding: 0 0.5em;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #eee;
	cursor: pointer;
}
