# should probably enable more (non-recommended) rules from http://eslint.org/docs/rules/
extends: eslint:recommended

env:
  browser: true
  jquery: true

globals:
  paper: false
  EventEmitter: true
  Grid: true
  Simulation: true

rules:
  # definitely useful
  semi: 1
  block-scoped-var: 1  # to not forget about variable hoisting...
  no-shadow-restricted-names: 2
  no-shadow: 1  # annoying in nested callbacks with repeated argument names
  camelcase: 1
  comma-spacing: [1, {"before": false, "after": true}]
  consistent-this: [1, "self"]
  linebreak-style: [2, "unix"]
  new-cap: 1
  space-infix-ops: 1
  eol-last: 2
  no-mixed-spaces-and-tabs: 2
  no-trailing-spaces: 2
  # vars-on-top: 1
  # no-use-before-define: 1

  # maybe useful
  consistent-return: 1
  curly: [1, "multi-line"]
  default-case: 1
  dot-notation: 1
  # no-invalid-this: 2
  no-multi-spaces: 1
  yoda: 1

  # disable rules inherited from eslint:recommended
  no-console: 0
  no-unused-vars: 1
